<!-- Begin page content -->

<main role="main">
  <br><br><br><br>
  <p>Hola {{mensaje}} </p>
  <p>Lista de personas</p>
  <ul>
    {{#each personas}}
    <li>{{this.nombre}} - {{this.email}}</li>
    {{/each}}
  </ul>
</main>