<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/assets/api.png" width="70" height="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Documentación
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/plantilla">Plantilla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/joseluisgonsan" , target="blank">Contacto</a>
      </li>
    </ul>

    {{!--  <div class="Header-item"><a class="btn btn-outline-success my-2 my-sm-0" href="https://github.com/joseluisgs/NodeMonRest.git" target="_blank" role="button">Clona / Descarga</a></div> --}}
  </div>
</nav>
